<div class="sorting-container">
    <div class="sorting-subContainer">
        <select style="display: block" ng-model="slected_Publisher" ng-change="ShopService.sortingnewzBasedpublisher(slected_Publisher)">
            <option value="" disabled selected>Select your Publisher</option>
            <option value="{{publisher}}" ng-repeat="publisher in ShopService.publisher track by $index">{{publisher}}</option>
        </select>
    </div>
</div>
<div class="zig-shop-base">
    <div class="zig-shop-layer1">
        <div class="account">
            <div class="sidebar-header">Category</div>
            <li class="sidebar-option" ng-click="ShopService.sortingnewzBasedCategory('b')">
                Business
            </li>
            <li class="sidebar-option" ng-click="ShopService.sortingnewzBasedCategory('t')">
                Science & Technology
            </li>
            <li class="sidebar-option" ng-click="ShopService.sortingnewzBasedCategory('e')">
                Entertainment
            </li>
            <li class="sidebar-option" ng-click="ShopService.sortingnewzBasedCategory('m')">
                Health
            </li>
        </div>
    </div>
    <div class="zig-shop-layer2">
        <div class="item-card item-card-1" ng-repeat="newz in ShopService.newzDetails | orderBy:ShopService.sortReverse">
            <a ng-href="{{newz.URL}}" href="" ng-bind="newz.TITLE"></a>
            <div class="save-for-later-container" ng-mouseover="faviconhover = !DesignService.favorites"
                 ng-mouseleave="faviconhover = DesignService.favorites"
                 ng-click="">
                <div class="favourite-icon-styling" ng-if="faviconhover"><i class="material-icons">favorite</i></div>
                <div class="favourite-icon-styling" ng-if="!faviconhover"><i class="material-icons">favorite_border</i></div>
            </div>
        </div>
    </div>
</div>